*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: wheat;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: aquamarine;
    border-radius: 50px 50px;
    position: fixed;
}

#mobilemenu{
    background-color:  rgb(172, 172, 238);
    text-align: center;
}

#mobilemenu h3{
    padding: 10px;
    border-bottom: 2px solid wheat;
}

#navbar{
    height: 100px;
    width: 100%;
    background-color: rgb(172, 172, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

#navbar h1{
    font-size: 50px;
    color: saddlebrown;
    font-weight: 1000;
}

#menu{
    display: flex;
    gap: 30px;
    font-size: 20px;
}

#menu h3{
    cursor: pointer;
}

#menu h3:hover{
    color: white;
}

button{
    background-color: blue;
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    font-weight: 700;
}

i{
    display: none;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
}

@media (max-width: 1000px) {
    #menu{
        display: none;
    }
    button{
        display: none;
    }
    i{
        display: block;
        font-size: 40px;
    }
    #navbar{
        padding: 0px 20px;
    }
    #mobilemenu{
        display: none;
    }
}